# Home Credit Default Risk

## Data Cleaning

## Muhammad Darussalam
<b>dataset:</b> Home Credit Default Risk dataset | <b>Source:</b> Kaggle

Home Credit adalah perusahaan yang dibentuk pada tahun 1997 di Republik Ceko, bergerak pada jasa pinjaman secara online dan offline yang tersebar di 9 negara salah satunya Indonesia.

dalam final project ini saya akan membuat aplikasi berbasis flask-web yang akan mengeluarkan rekomendasi apakah seseorang akan kesulitan membayar pinjaman atau lancar-lancar saja

### Import Data & Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def correlation_ratio(categories, measurements):
    
    def convert(data, to):
        converted = None
        if to == 'array':
            if isinstance(data, np.ndarray):
                converted = data
            elif isinstance(data, pd.Series):
                converted = data.values
            elif isinstance(data, list):
                converted = np.array(data)
            elif isinstance(data, pd.DataFrame):
                converted = data.as_matrix()
        elif to == 'list':
            if isinstance(data, list):
                converted = data
            elif isinstance(data, pd.Series):
                converted = data.values.tolist()
            elif isinstance(data, np.ndarray):
                converted = data.tolist()
        elif to == 'dataframe':
            if isinstance(data, pd.DataFrame):
                converted = data
            elif isinstance(data, np.ndarray):
                converted = pd.DataFrame(data)
        else:
            raise ValueError("Unknown data conversion: {}".format(to))
        if converted is None:
            raise TypeError('cannot handle data conversion of type: {} to {}'.format(type(data),to))
        else:
            return converted
        
    categories = convert(categories, 'array')
    measurements = convert(measurements, 'array')
    fcat, _ = pd.factorize(categories)
    cat_num = np.max(fcat)+1
    y_avg_array = np.zeros(cat_num)
    n_array = np.zeros(cat_num)
    for i in range(0,cat_num):
        cat_measures = measurements[np.argwhere(fcat == i).flatten()]
        n_array[i] = len(cat_measures)
        y_avg_array[i] = np.average(cat_measures)
    y_total_avg = np.sum(np.multiply(y_avg_array,n_array))/np.sum(n_array)
    numerator = np.sum(np.multiply(n_array,np.power(np.subtract(y_avg_array,y_total_avg),2)))
    denominator = np.sum(np.power(np.subtract(measurements,y_total_avg),2))
    if numerator == 0:
        eta = 0.0
    else:
        eta = numerator/denominator
    return eta

In [3]:
def isna_table(df):
    isna=pd.DataFrame(df.isna().sum(),columns=['nom'])
    isna.drop(isna[isna['nom']==0].index,inplace=True)
    isna['%']=isna['nom']/len(df)*100
    return isna

In [4]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [4]:
data_train=pd.read_csv('../pake_ini.csv')

In [6]:
data_train.head()

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,Active_CBC,Bad debt_CBC,Closed_CBC,Sold_CBC,CREDIT_DAY_OVERDUE,AMT_CREDIT_SUM_DEBT,Approved_PA,Canceled_PA,Refused_PA,Unused offer_PA,New_PA,Refreshed_PA,Repeater_PA,Active_PCB,Amortized debt_PCB,Approved_PCB,Canceled_PCB,Completed_PCB,Demand_PCB,Returned to the store_PCB,Signed_PCB,SK_DPD_PCB,CNT_INSTALMENT_FUTURE
0,0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,6.0,0.0,0.0,245781.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285.0
1,1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,2.0,1.0,26.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,162.0
2,2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,9.0
3,3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,3.0,1.0,0.0,1.0,0.0,8.0,18.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,173.0
4,4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Other,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,1.0,0.0,5.0,62.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,592.0

In [7]:
pd.set_option('display.max_columns',40)
pd.set_option('display.max_rows',30)

In [5]:
data_train.drop(columns=['Unnamed: 0','SK_ID_CURR'],axis=1,inplace=True)

In [9]:
len(data_train)

307511

Dataset di atas memberikan kita 307.511 baris data riwayat peminjaman aktif (data_train), 
## Columns
### data_train:
152 entries, SK_ID_CURR to AMT_MINUS

In [10]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 144 entries, TARGET to CNT_INSTALMENT_FUTURE
dtypes: float64(88), int64(40), object(16)
memory usage: 337.8+ MB

In [11]:
pd.set_option('display.max_rows',145)
list_item=[]
for col in data_train.columns:
    list_item.append([col,data_train[col].dtype,data_train[col].isna().sum(),round((data_train[col].isna().sum()/len(data_train[col])*100),2),data_train[col].nunique(), list(data_train[col].unique()[:5])])
dfDesc_dt=pd.DataFrame(list_item,columns='feature dtype null null% unique uniquesample'.split())
dfDesc_dt

,feature,dtype,null,null%,unique,uniquesample
0,TARGET,int64,0,0.00,2,"[1, 0]"
1,NAME_CONTRACT_TYPE,object,0,0.00,2,"[Cash loans, Revolving loans]"
2,CODE_GENDER,object,0,0.00,3,"[M, F, XNA]"
3,FLAG_OWN_CAR,object,0,0.00,2,"[N, Y]"
4,FLAG_OWN_REALTY,object,0,0.00,2,"[Y, N]"
5,CNT_CHILDREN,int64,0,0.00,15,"[0, 1, 2, 3, 4]"
6,AMT_INCOME_TOTAL,float64,0,0.00,2548,"[202500.0, 270000.0, 67500.0, 135000.0, 121500.0]"
7,AMT_CREDIT,float64,0,0.00,5603,"[406597.5, 1293502.5, 135000.0, 312682.5, 5130..."
8,AMT_ANNUITY,float64,12,0.00,13672,"[24700.5, 35698.5, 6750.0, 29686.5, 21865.5]"
9,AMT_GOODS_PRICE,float64,278,0.09,1002,"[351000.0, 1129500.0, 135000.0, 297000.0, 5130..."
10,NAME_TYPE_SUITE,object,1292,0.42,7,"[Unaccompanied, Family, Spouse, partner, Child..."
11,NAME_INCOME_TYPE,object,0,0.00,8,"[Working, State servant, Commercial associate,..."
12,NAME_EDUCATION_TYPE,object,0,0.00,5,"[Secondary / secondary special, Higher educati..."
13,NAME_FAMILY_STATUS,object,0,0.00,6,"[Single / not married, Married, Civil marriage..."
14,NAME_HOUSING_TYPE,object,0,0.00,6,"[House / apartment, Rented apartment, With par..."
15,REGION_POPULATION_RELATIVE,float64,0,0.00,81,"[0.018801, 0.003540999999999999, 0.010032, 0.0..."
16,DAYS_BIRTH,int64,0,0.00,17460,"[-9461, -16765, -19046, -19005, -19932]"
17,DAYS_EMPLOYED,int64,0,0.00,12574,"[-637, -1188, -225, -3039, -3038]"
18,DAYS_REGISTRATION,float64,0,0.00,15688,"[-3648.0, -1186.0, -4260.0, -9833.0, -4311.0]"
19,DAYS_ID_PUBLISH,int64,0,0.00,6168,"[-2120, -291, -2531, -2437, -3458]"
20,OWN_CAR_AGE,float64,202929,65.99,62,"[nan, 26.0, 17.0, 8.0, 23.0]"
21,FLAG_MOBIL,int64,0,0.00,2,"[1, 0]"
22,FLAG_EMP_PHONE,int64,0,0.00,2,"[1, 0]"
23,FLAG_WORK_PHONE,int64,0,0.00,2,"[0, 1]"
24,FLAG_CONT_MOBILE,int64,0,0.00,2,"[1, 0]"
25,FLAG_PHONE,int64,0,0.00,2,"[1, 0]"
26,FLAG_EMAIL,int64,0,0.00,2,"[0, 1]"
27,OCCUPATION_TYPE,object,0,0.00,11,"[Laborers, Core staff, Accountants, Managers, ..."
28,CNT_FAM_MEMBERS,float64,2,0.00,17,"[1.0, 2.0, 3.0, 4.0, 5.0]"
29,REGION_RATING_CLIENT,int64,0,0.00,3,"[2, 1, 3]"
30,REGION_RATING_CLIENT_W_CITY,int64,0,0.00,3,"[2, 1, 3]"
31,WEEKDAY_APPR_PROCESS_START,object,0,0.00,7,"[WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY]"
32,HOUR_APPR_PROCESS_START,int64,0,0.00,24,"[10, 11, 9, 17, 16]"
33,REG_REGION_NOT_LIVE_REGION,int64,0,0.00,2,"[0, 1]"
34,REG_REGION_NOT_WORK_REGION,int64,0,0.00,2,"[0, 1]"
35,LIVE_REGION_NOT_WORK_REGION,int64,0,0.00,2,"[0, 1]"
36,REG_CITY_NOT_LIVE_CITY,int64,0,0.00,2,"[0, 1]"
37,REG_CITY_NOT_WORK_CITY,int64,0,0.00,2,"[0, 1]"
38,LIVE_CITY_NOT_WORK_CITY,int64,0,0.00,2,"[0, 1]"
39,ORGANIZATION_TYPE,object,0,0.00,11,"[Business Entity Type 3, School, Government, O..."
40,EXT_SOURCE_1,float64,173378,56.38,114584,"[0.08303696739132256, 0.3112673113812225, nan,..."
41,EXT_SOURCE_2,float64,660,0.21,119831,"[0.2629485927471776, 0.6222457752555098, 0.555..."
42,EXT_SOURCE_3,float64,60965,19.83,814,"[0.13937578009978951, nan, 0.7295666907060153,..."
43,APARTMENTS_AVG,float64,156061,50.75,2339,"[0.0247, 0.0959, nan, 0.0825, 0.1474]"
44,BASEMENTAREA_AVG,float64,179943,58.52,3780,"[0.0369, 0.0529, nan, 0.0973, 0.1335]"
45,YEARS_BEGINEXPLUATATION_AVG,float64,150007,48.78,285,"[0.9722, 0.9851, nan, 0.9811, 0.9806]"
46,YEARS_BUILD_AVG,float64,204488,66.50,149,"[0.6192, 0.7959999999999999, nan, 0.7348, 0.9796]"
47,COMMONAREA_AVG,float64,214865,69.87,3181,"[0.0143, 0.0605, nan, 0.0582, 0.1143]"
48,ELEVATORS_AVG,float64,163891,53.30,257,"[0.0, 0.08, nan, 0.16, 0.4]"
49,ENTRANCES_AVG,float64,154828,50.35,285,"[0.069, 0.0345, nan, 0.2069, 0.1379]"
50,FLOORSMAX_AVG,float64,153020,49.76,403,"[0.0833, 0.2917, nan, 0.1667, 0.3333]"
51,FLOORSMIN_AVG,float64,208642,67.85,305,"[0.125, 0.3333, nan, 0.375, 0.7083]"
52,LANDAREA_AVG,float64,182590,59.38,3527,"[0.0369, 0.013, nan, 0.0135, 0.0931]"
53,LIVINGAPARTMENTS_AVG,float64,210199,68.35,1868,"[0.0202, 0.0773, nan, 0.1202, 0.2849]"
54,LIVINGAREA_AVG,float64,154350,50.19,5199,"[0.019, 0.0549, nan, 0.0778, 0.1397]"
55,NONLIVINGAPARTMENTS_AVG,float64,213514,69.43,386,"[0.0, 0.0039, nan, 0.0193, 0.0077]"
56,NONLIVINGAREA_AVG,float64,169682,55.18,3290,"[0.0, 0.0098, nan, 0.1001, 0.0044]"
57,APARTMENTS_MODE,float64,156061,50.75,760,"[0.0252, 0.0924, nan, 0.084, 0.1502]"
58,BASEMENTAREA_MODE,float64,179943,58.52,3841,"[0.0383, 0.0538, nan, 0.101, 0.1386]"
59,YEARS_BEGINEXPLUATATION_MODE,float64,150007,48.78,221,"[0.9722, 0.9851, nan, 0.9811, 0.9806]"
60,YEARS_BUILD_MODE,float64,204488,66.50,154,"[0.6341, 0.804, nan, 0.7452, 0.9804]"
61,COMMONAREA_MODE,float64,214865,69.87,3128,"[0.0144, 0.0497, nan, 0.0587, 0.1153]"
62,ELEVATORS_MODE,float64,163891,53.30,26,"[0.0, 0.0806, nan, 0.1611, 0.4028]"
63,ENTRANCES_MODE,float64,154828,50.35,30,"[0.069, 0.0345, nan, 0.2069, 0.1379]"
64,FLOORSMAX_MODE,float64,153020,49.76,25,"[0.0833, 0.2917, nan, 0.1667, 0.3333]"
65,FLOORSMIN_MODE,float64,208642,67.85,25,"[0.125, 0.3333, nan, 0.375, 0.7083]"
66,LANDAREA_MODE,float64,182590,59.38,3563,"[0.0377, 0.0128, nan, 0.0138, 0.0952]"
67,LIVINGAPARTMENTS_MODE,float64,210199,68.35,736,"[0.022, 0.079, nan, 0.1313, 0.3113]"
68,LIVINGAREA_MODE,float64,154350,50.19,5301,"[0.0198, 0.0554, nan, 0.081, 0.1456]"
69,NONLIVINGAPARTMENTS_MODE,float64,213514,69.43,167,"[0.0, nan, 0.0195, 0.0078, 0.0039]"
70,NONLIVINGAREA_MODE,float64,169682,55.18,3327,"[0.0, nan, 0.106, 0.0047, 0.0045]"
71,APARTMENTS_MEDI,float64,156061,50.75,1148,"[0.025, 0.0968, nan, 0.0833, 0.1489]"
72,BASEMENTAREA_MEDI,float64,179943,58.52,3772,"[0.0369, 0.0529, nan, 0.0973, 0.1335]"
73,YEARS_BEGINEXPLUATATION_MEDI,float64,150007,48.78,245,"[0.9722, 0.9851, nan, 0.9811, 0.9806]"
74,YEARS_BUILD_MEDI,float64,204488,66.50,151,"[0.6243, 0.7987, nan, 0.7383, 0.9799]"
75,COMMONAREA_MEDI,float64,214865,69.87,3202,"[0.0144, 0.0608, nan, 0.0585, 0.115]"
76,ELEVATORS_MEDI,float64,163891,53.30,46,"[0.0, 0.08, nan, 0.16, 0.4]"
77,ENTRANCES_MEDI,float64,154828,50.35,46,"[0.069, 0.0345, nan, 0.2069, 0.1379]"
78,FLOORSMAX_MEDI,float64,153020,49.76,49,"[0.0833, 0.2917, nan, 0.1667, 0.3333]"
79,FLOORSMIN_MEDI,float64,208642,67.85,47,"[0.125, 0.3333, nan, 0.375, 0.7083]"
80,LANDAREA_MEDI,float64,182590,59.38,3560,"[0.0375, 0.0132, nan, 0.0137, 0.0947]"
81,LIVINGAPARTMENTS_MEDI,float64,210199,68.35,1097,"[0.0205, 0.0787, nan, 0.1223, 0.2899]"
82,LIVINGAREA_MEDI,float64,154350,50.19,5281,"[0.0193, 0.0558, nan, 0.0792, 0.1422]"
83,NONLIVINGAPARTMENTS_MEDI,float64,213514,69.43,214,"[0.0, 0.0039, nan, 0.0194, 0.0078]"
84,NONLIVINGAREA_MEDI,float64,169682,55.18,3323,"[0.0, 0.01, nan, 0.1022, 0.0045]"
85,FONDKAPREMONT_MODE,object,210295,68.39,4,"[reg oper account, nan, org spec account, reg ..."
86,HOUSETYPE_MODE,object,154297,50.18,3,"[block of flats, nan, terraced house, specific..."
87,TOTALAREA_MODE,float64,148431,48.27,5116,"[0.0149, 0.0714, nan, 0.0612, 0.1417]"
88,WALLSMATERIAL_MODE,object,156341,50.84,7,"[Stone, brick, Block, nan, Panel, Mixed]"
89,EMERGENCYSTATE_MODE,object,145755,47.40,2,"[No, nan, Yes]"
90,OBS_30_CNT_SOCIAL_CIRCLE,float64,1021,0.33,33,"[2.0, 1.0, 0.0, 4.0, 8.0]"
91,DEF_30_CNT_SOCIAL_CIRCLE,float64,1021,0.33,10,"[2.0, 0.0, 1.0, nan, 3.0]"
92,OBS_60_CNT_SOCIAL_CIRCLE,float64,1021,0.33,33,"[2.0, 1.0, 0.0, 4.0, 8.0]"
93,DEF_60_CNT_SOCIAL_CIRCLE,float64,1021,0.33,9,"[2.0, 0.0, 1.0, nan, 3.0]"
94,DAYS_LAST_PHONE_CHANGE,float64,1,0.00,3773,"[-1134.0, -828.0, -815.0, -617.0, -1106.0]"
95,FLAG_DOCUMENT_2,int64,0,0.00,2,"[0, 1]"
96,FLAG_DOCUMENT_3,int64,0,0.00,2,"[1, 0]"
97,FLAG_DOCUMENT_4,int64,0,0.00,2,"[0, 1]"
98,FLAG_DOCUMENT_5,int64,0,0.00,2,"[0, 1]"
99,FLAG_DOCUMENT_6,int64,0,0.00,2,"[0, 1]"
100,FLAG_DOCUMENT_7,int64,0,0.00,2,"[0, 1]"
101,FLAG_DOCUMENT_8,int64,0,0.00,2,"[0, 1]"
102,FLAG_DOCUMENT_9,int64,0,0.00,2,"[0, 1]"
103,FLAG_DOCUMENT_10,int64,0,0.00,2,"[0, 1]"
104,FLAG_DOCUMENT_11,int64,0,0.00,2,"[0, 1]"
105,FLAG_DOCUMENT_12,int64,0,0.00,2,"[0, 1]"
106,FLAG_DOCUMENT_13,int64,0,0.00,2,"[0, 1]"
107,FLAG_DOCUMENT_14,int64,0,0.00,2,"[0, 1]"
108,FLAG_DOCUMENT_15,int64,0,0.00,2,"[0, 1]"
109,FLAG_DOCUMENT_16,int64,0,0.00,2,"[0, 1]"
110,FLAG_DOCUMENT_17,int64,0,0.00,2,"[0, 1]"
111,FLAG_DOCUMENT_18,int64,0,0.00,2,"[0, 1]"
112,FLAG_DOCUMENT_19,int64,0,0.00,2,"[0, 1]"
113,FLAG_DOCUMENT_20,int64,0,0.00,2,"[0, 1]"
114,FLAG_DOCUMENT_21,int64,0,0.00,2,"[0, 1]"
115,AMT_REQ_CREDIT_BUREAU_HOUR,float64,41519,13.50,5,"[0.0, nan, 1.0, 2.0, 3.0]"
116,AMT_REQ_CREDIT_BUREAU_DAY,float64,41519,13.50,9,"[0.0, nan, 1.0, 3.0, 2.0]"
117,AMT_REQ_CREDIT_BUREAU_WEEK,float64,41519,13.50,9,"[0.0, nan, 1.0, 3.0, 2.0]"
118,AMT_REQ_CREDIT_BUREAU_MON,float64,41519,13.50,24,"[0.0, nan, 1.0, 2.0, 6.0]"
119,AMT_REQ_CREDIT_BUREAU_QRT,float64,41519,13.50,11,"[0.0, nan, 1.0, 2.0, 4.0]"
120,AMT_REQ_CREDIT_BUREAU_YEAR,float64,41519,13.50,25,"[1.0, 0.0, nan, 2.0, 4.0]"
121,Active_CBC,float64,44020,14.31,23,"[2.0, 1.0, 0.0, nan, 4.0]"
122,Bad debt_CBC,float64,44020,14.31,2,"[0.0, nan, 1.0]"
123,Closed_CBC,float64,44020,14.31,54,"[6.0, 3.0, 2.0, nan, 1.0]"
124,Sold_CBC,float64,44020,14.31,8,"[0.0, nan, 1.0, 4.0, 2.0]"
125,CREDIT_DAY_OVERDUE,float64,44020,14.31,879,"[0.0, nan, 55.0, 1272.0, 161.0]"
126,AMT_CREDIT_SUM_DEBT,float64,44020,14.31,155001,"[245781.0, 0.0, nan, 240057.0, 1077349.5]"
127,Approved_PA,float64,16454,5.35,26,"[1.0, 3.0, 5.0, 6.0, 4.0]"
128,Canceled_PA,float64,16454,5.35,39,"[0.0, 3.0, 1.0, nan, 6.0]"
129,Refused_PA,float64,16454,5.35,46,"[0.0, 1.0, nan, 10.0, 8.0]"
130,Unused offer_PA,float64,16454,5.35,11,"[0.0, nan, 1.0, 3.0, 2.0]"
131,New_PA,float64,16454,5.35,18,"[1.0, 0.0, nan, 2.0, 3.0]"
132,Refreshed_PA,float64,16454,5.35,24,"[0.0, 2.0, 1.0, nan, 6.0]"
133,Repeater_PA,float64,16454,5.35,64,"[0.0, 1.0, 8.0, 5.0, 3.0]"
134,Active_PCB,float64,18067,5.88,212,"[19.0, 26.0, 3.0, 18.0, 62.0]"
135,Amortized debt_PCB,float64,18067,5.88,9,"[0.0, nan, 40.0, 11.0, 49.0]"
136,Approved_PCB,float64,18067,5.88,12,"[0.0, nan, 1.0, 3.0, 2.0]"
137,Canceled_PCB,float64,18067,5.88,2,"[0.0, nan, 1.0]"
138,Completed_PCB,float64,18067,5.88,47,"[0.0, 2.0, 1.0, 3.0, 4.0]"
139,Demand_PCB,float64,18067,5.88,53,"[0.0, nan, 2.0, 27.0, 64.0]"
140,Returned to the store_PCB,float64,18067,5.88,5,"[0.0, 1.0, nan, 2.0, 3.0]"
141,Signed_PCB,float64,18067,5.88,32,"[0.0, 1.0, nan, 4.0, 6.0]"
142,SK_DPD_PCB,float64,18067,5.88,3708,"[0.0, 28142.0, 15425.0, 13.0, nan]"
143,CNT_INSTALMENT_FUTURE,float64,18067,5.88,2892,"[285.0, 162.0, 9.0, 173.0, 592.0]"

In [12]:
data_train.corr()['TARGET'].sort_values()

EXT_SOURCE_3                   -0.178919
EXT_SOURCE_2                   -0.160472
EXT_SOURCE_1                   -0.155317
DAYS_EMPLOYED                  -0.044932
FLOORSMAX_AVG                  -0.044003
FLOORSMAX_MEDI                 -0.043768
FLOORSMAX_MODE                 -0.043226
AMT_GOODS_PRICE                -0.039645
REGION_POPULATION_RELATIVE     -0.037227
Active_PCB                     -0.035866
ELEVATORS_AVG                  -0.034199
ELEVATORS_MEDI                 -0.033863
FLOORSMIN_AVG                  -0.033614
FLOORSMIN_MEDI                 -0.033394
LIVINGAREA_AVG                 -0.032997
LIVINGAREA_MEDI                -0.032739
FLOORSMIN_MODE                 -0.032698
TOTALAREA_MODE                 -0.032596
ELEVATORS_MODE                 -0.032131
Approved_PA                    -0.031553
Closed_CBC                     -0.030812
LIVINGAREA_MODE                -0.030685
AMT_CREDIT                     -0.030369
APARTMENTS_AVG                 -0.029498
APARTMENTS_MEDI                -0.029184
FLAG_DOCUMENT_6                -0.028602
APARTMENTS_MODE                -0.027284
LIVINGAPARTMENTS_AVG           -0.025031
LIVINGAPARTMENTS_MEDI          -0.024621
HOUR_APPR_PROCESS_START        -0.024166
FLAG_PHONE                     -0.023806
LIVINGAPARTMENTS_MODE          -0.023393
BASEMENTAREA_AVG               -0.022746
YEARS_BUILD_MEDI               -0.022326
YEARS_BUILD_AVG                -0.022149
BASEMENTAREA_MEDI              -0.022081
YEARS_BUILD_MODE               -0.022068
BASEMENTAREA_MODE              -0.019952
Completed_PCB                  -0.019547
ENTRANCES_AVG                  -0.019172
ENTRANCES_MEDI                 -0.019025
COMMONAREA_MEDI                -0.018573
COMMONAREA_AVG                 -0.018550
ENTRANCES_MODE                 -0.017387
COMMONAREA_MODE                -0.016340
Refreshed_PA                   -0.014140
NONLIVINGAREA_AVG              -0.013578
NONLIVINGAREA_MEDI             -0.013337
AMT_ANNUITY                    -0.012817
NONLIVINGAREA_MODE             -0.012711
AMT_REQ_CREDIT_BUREAU_MON      -0.012462
FLAG_DOCUMENT_16               -0.011615
FLAG_DOCUMENT_13               -0.011583
LANDAREA_MEDI                  -0.011256
LANDAREA_AVG                   -0.010885
LANDAREA_MODE                  -0.010174
YEARS_BEGINEXPLUATATION_MEDI   -0.009993
YEARS_BEGINEXPLUATATION_AVG    -0.009728
FLAG_DOCUMENT_14               -0.009464
YEARS_BEGINEXPLUATATION_MODE   -0.009036
FLAG_DOCUMENT_8                -0.008040
FLAG_DOCUMENT_18               -0.007952
FLAG_DOCUMENT_15               -0.006536
CNT_INSTALMENT_FUTURE          -0.005881
Signed_PCB                     -0.004421
FLAG_DOCUMENT_9                -0.004352
FLAG_DOCUMENT_11               -0.004229
AMT_INCOME_TOTAL               -0.003982
FLAG_DOCUMENT_17               -0.003378
NONLIVINGAPARTMENTS_AVG        -0.003176
NONLIVINGAPARTMENTS_MEDI       -0.002757
FLAG_DOCUMENT_4                -0.002672
Approved_PCB                   -0.002044
AMT_REQ_CREDIT_BUREAU_QRT      -0.002022
FLAG_EMAIL                     -0.001758
NONLIVINGAPARTMENTS_MODE       -0.001557
FLAG_DOCUMENT_7                -0.001520
FLAG_DOCUMENT_10               -0.001414
FLAG_DOCUMENT_19               -0.001358
FLAG_DOCUMENT_12               -0.000756
FLAG_DOCUMENT_5                -0.000316
FLAG_DOCUMENT_20                0.000215
FLAG_CONT_MOBILE                0.000370
Unused offer_PA                 0.000517
FLAG_MOBIL                      0.000534
AMT_REQ_CREDIT_BUREAU_WEEK      0.000788
AMT_REQ_CREDIT_BUREAU_HOUR      0.000930
Canceled_PCB                    0.002001
AMT_REQ_CREDIT_BUREAU_DAY       0.002704
LIVE_REGION_NOT_WORK_REGION     0.002819
FLAG_DOCUMENT_21                0.003709
Demand_PCB                      0.003753
Bad debt_CBC                    0.004003
SK_DPD_PCB                      0.004740
FLAG_DOCUMENT_2                 0.005417
Amortized debt_PCB              0.005526
REG_REGION_NOT_LIVE_REGION      0.005576
CREDIT_DAY_OVERDUE              0.006298
REG_REGION_NOT_WORK_REGION      0.006942
AMT_CREDIT_SUM_DEBT             0.007144
OBS_60_CNT_SOCIAL_CIRCLE        0.009022
Returned to the store_PCB       0.009103
OBS_30_CNT_SOCIAL_CIRCLE        0.009131
CNT_FAM_MEMBERS                 0.009308
Sold_CBC                        0.012058
Repeater_PA                     0.016274
Canceled_PA                     0.019031
CNT_CHILDREN                    0.019187
AMT_REQ_CREDIT_BUREAU_YEAR      0.019930
FLAG_WORK_PHONE                 0.028524
DEF_60_CNT_SOCIAL_CIRCLE        0.031276
DEF_30_CNT_SOCIAL_CIRCLE        0.032248
LIVE_CITY_NOT_WORK_CITY         0.032518
OWN_CAR_AGE                     0.037612
DAYS_REGISTRATION               0.041975
FLAG_DOCUMENT_3                 0.044346
REG_CITY_NOT_LIVE_CITY          0.044395
FLAG_EMP_PHONE                  0.045982
New_PA                          0.046048
REG_CITY_NOT_WORK_CITY          0.050994
DAYS_ID_PUBLISH                 0.051457
DAYS_LAST_PHONE_CHANGE          0.055218
REGION_RATING_CLIENT            0.058899
REGION_RATING_CLIENT_W_CITY     0.060893
Refused_PA                      0.064469
Active_CBC                      0.067128
DAYS_BIRTH                      0.078239
TARGET                          1.000000
Name: TARGET, dtype: float64

## 1. FEATURE SELECTION & ENGINERING

Langkah selanjutnya adalah menentukan fitur dengan menganalisa korelasi antara semua fitur dengan fitur target

## Target FEATURE (Y)
fitur yang dilabeli sebagai target adalah TARGET yang terdapat pada data_train. dimana kolom ini menjelaskan bahwa peminjam kesulitan untuk membayar pinjaman

## Train FEATURE (X)
dalam mengukur risk berdasarkan manajemen resiko terdapat pedoman 5C antara lain:

dataset data_train memiliki informasi karakteristik pinjaman antara lain seperti:

- NAME_CONTRACT_TYPE as tipe pinjaman
- CODE_GENDER as jenis kelamin
- FLAG_OWN_CAR as apakah peminjam memiliki mobil
- FLAG_OWN_REALTY as apakah peminjam memiliki aset tidak bergerak
- CNT_CHILDREN as jumlah anak
- AMT_CREDIT as jumlah utang pinjaman
- AMT_ANNUITY as jumlah cicilan
- AMT_GOOD_PRICE as harga barang
- NAME_TYPE_SUITE as adakah yang menemani
- NAME_INCOME_TYPE as tipe pemasukan peminjam
- NAME_EDUCATION_TYPE as tingkat pendidikan peminjam
- NAME_FAMILY_STATUS as status keluarga (nikah, cerai, single)
- NAME_HOUSING_TYPE as tipe tempat tinggal
- DAYS_EMPLOYED as jumlah hari kerja
- OWN_CAR_AGE as umur kepemilikan mobil
- FLAG_CONT_MOBILE as apakah nomer HP bisa dihubungi
- OCCUPATION_TYPE as tipe pekerjaan
- CNT_FAM_MEMBERS as jumlah anggota keluarga
- ORGANIZATION_TYPE as tempat orang bekerja

In [6]:
data_dump=data_train.drop(columns=data_train.columns[43:143],axis=1)

### Feature Enginering

for simplify days_birth will be convert to age and days_employed will be convert into age_employed

In [7]:
from math import ceil,floor
data_dump['AGE']=data_dump['DAYS_BIRTH'].apply(lambda x:np.abs(ceil(x/365)) if x/365<1 else np.abs(floor(x/365)))
data_dump['YEARS_EMPLOYED']=data_dump['DAYS_EMPLOYED'].apply(lambda x:np.abs(ceil(x/365)) if x/365<1 else np.abs(floor(x/365)))
data_dump['YEARS_ID']=data_dump['DAYS_ID_PUBLISH'].apply(lambda x:np.abs(ceil(x/365)) if x/365<1 else np.abs(floor(x/365)))
data_dump['YEARS_ID_CHANGE']=data_dump['DAYS_REGISTRATION'].apply(lambda x:np.abs(ceil(x/365)) if x/365<1 else np.abs(floor(x/365)))
data_dump.drop(['DAYS_BIRTH','DAYS_EMPLOYED','DAYS_ID_PUBLISH','DAYS_REGISTRATION'],axis=1,inplace=True)

Insert feature needed but dropped

In [8]:
l_need=['Active_CBC','Refused_PA','REGION_RATING_CLIENT_W_CITY','REGION_RATING_CLIENT','DAYS_LAST_PHONE_CHANGE','REG_CITY_NOT_WORK_CITY','New_PA','FLAG_EMP_PHONE','REG_CITY_NOT_LIVE_CITY','FLAG_DOCUMENT_3','OWN_CAR_AGE','LIVE_CITY_NOT_WORK_CITY','FLAG_WORK_PHONE','CNT_CHILDREN','Canceled_PA','CNT_FAM_MEMBERS','FLAG_DOCUMENT_2','CNT_FAM_MEMBERS','Active_PCB','Approved_PA','FLAG_DOCUMENT_6','FLAG_PHONE','Completed_PCB']
for i in l_need:
    if i not in data_dump.columns:
        data_dump[i]=data_train[i]

show the last structure of feature

In [9]:
pd.set_option('display.max_rows',100)

In [10]:
list_item=[]
for col in data_dump.columns:
    list_item.append([col,data_dump[col].dtype,data_dump[col].isna().sum(),round((data_dump[col].isna().sum()/len(data_dump[col])*100),2),data_dump[col].nunique(), list(data_dump[col].unique()[:5])])
dfDesc_dp=pd.DataFrame(list_item,columns='feature dtype null null% unique uniquesample'.split())
dfDesc_dp

,feature,dtype,null,null%,unique,uniquesample
0,TARGET,int64,0,0.00,2,"[1, 0]"
1,NAME_CONTRACT_TYPE,object,0,0.00,2,"[Cash loans, Revolving loans]"
2,CODE_GENDER,object,0,0.00,3,"[M, F, XNA]"
3,FLAG_OWN_CAR,object,0,0.00,2,"[N, Y]"
4,FLAG_OWN_REALTY,object,0,0.00,2,"[Y, N]"
5,CNT_CHILDREN,int64,0,0.00,15,"[0, 1, 2, 3, 4]"
6,AMT_INCOME_TOTAL,float64,0,0.00,2548,"[202500.0, 270000.0, 67500.0, 135000.0, 121500.0]"
7,AMT_CREDIT,float64,0,0.00,5603,"[406597.5, 1293502.5, 135000.0, 312682.5, 5130..."
8,AMT_ANNUITY,float64,12,0.00,13672,"[24700.5, 35698.5, 6750.0, 29686.5, 21865.5]"
9,AMT_GOODS_PRICE,float64,278,0.09,1002,"[351000.0, 1129500.0, 135000.0, 297000.0, 5130..."
10,NAME_TYPE_SUITE,object,1292,0.42,7,"[Unaccompanied, Family, Spouse, partner, Child..."
11,NAME_INCOME_TYPE,object,0,0.00,8,"[Working, State servant, Commercial associate,..."
12,NAME_EDUCATION_TYPE,object,0,0.00,5,"[Secondary / secondary special, Higher educati..."
13,NAME_FAMILY_STATUS,object,0,0.00,6,"[Single / not married, Married, Civil marriage..."
14,NAME_HOUSING_TYPE,object,0,0.00,6,"[House / apartment, Rented apartment, With par..."
15,REGION_POPULATION_RELATIVE,float64,0,0.00,81,"[0.018801, 0.003540999999999999, 0.010032, 0.0..."
16,OWN_CAR_AGE,float64,202929,65.99,62,"[nan, 26.0, 17.0, 8.0, 23.0]"
17,FLAG_MOBIL,int64,0,0.00,2,"[1, 0]"
18,FLAG_EMP_PHONE,int64,0,0.00,2,"[1, 0]"
19,FLAG_WORK_PHONE,int64,0,0.00,2,"[0, 1]"
20,FLAG_CONT_MOBILE,int64,0,0.00,2,"[1, 0]"
21,FLAG_PHONE,int64,0,0.00,2,"[1, 0]"
22,FLAG_EMAIL,int64,0,0.00,2,"[0, 1]"
23,OCCUPATION_TYPE,object,0,0.00,11,"[Laborers, Core staff, Accountants, Managers, ..."
24,CNT_FAM_MEMBERS,float64,2,0.00,17,"[1.0, 2.0, 3.0, 4.0, 5.0]"
25,REGION_RATING_CLIENT,int64,0,0.00,3,"[2, 1, 3]"
26,REGION_RATING_CLIENT_W_CITY,int64,0,0.00,3,"[2, 1, 3]"
27,WEEKDAY_APPR_PROCESS_START,object,0,0.00,7,"[WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY]"
28,HOUR_APPR_PROCESS_START,int64,0,0.00,24,"[10, 11, 9, 17, 16]"
29,REG_REGION_NOT_LIVE_REGION,int64,0,0.00,2,"[0, 1]"
30,REG_REGION_NOT_WORK_REGION,int64,0,0.00,2,"[0, 1]"
31,LIVE_REGION_NOT_WORK_REGION,int64,0,0.00,2,"[0, 1]"
32,REG_CITY_NOT_LIVE_CITY,int64,0,0.00,2,"[0, 1]"
33,REG_CITY_NOT_WORK_CITY,int64,0,0.00,2,"[0, 1]"
34,LIVE_CITY_NOT_WORK_CITY,int64,0,0.00,2,"[0, 1]"
35,ORGANIZATION_TYPE,object,0,0.00,11,"[Business Entity Type 3, School, Government, O..."
36,EXT_SOURCE_1,float64,173378,56.38,114584,"[0.08303696739132256, 0.3112673113812225, nan,..."
37,EXT_SOURCE_2,float64,660,0.21,119831,"[0.2629485927471776, 0.6222457752555098, 0.555..."
38,EXT_SOURCE_3,float64,60965,19.83,814,"[0.13937578009978951, nan, 0.7295666907060153,..."
39,CNT_INSTALMENT_FUTURE,float64,18067,5.88,2892,"[285.0, 162.0, 9.0, 173.0, 592.0]"
40,AGE,int64,0,0.00,50,"[25, 45, 52, 54, 46]"
41,YEARS_EMPLOYED,int64,0,0.00,51,"[1, 3, 0, 8, 4]"
42,YEARS_ID,int64,0,0.00,19,"[5, 0, 6, 9, 1]"
43,YEARS_ID_CHANGE,int64,0,0.00,66,"[9, 3, 11, 26, 13]"
44,Active_CBC,float64,44020,14.31,23,"[2.0, 1.0, 0.0, nan, 4.0]"
45,Refused_PA,float64,16454,5.35,46,"[0.0, 1.0, nan, 10.0, 8.0]"
46,DAYS_LAST_PHONE_CHANGE,float64,1,0.00,3773,"[-1134.0, -828.0, -815.0, -617.0, -1106.0]"
47,New_PA,float64,16454,5.35,18,"[1.0, 0.0, nan, 2.0, 3.0]"
48,FLAG_DOCUMENT_3,int64,0,0.00,2,"[1, 0]"
49,Canceled_PA,float64,16454,5.35,39,"[0.0, 3.0, 1.0, nan, 6.0]"
50,FLAG_DOCUMENT_2,int64,0,0.00,2,"[0, 1]"
51,Active_PCB,float64,18067,5.88,212,"[19.0, 26.0, 3.0, 18.0, 62.0]"
52,Approved_PA,float64,16454,5.35,26,"[1.0, 3.0, 5.0, 6.0, 4.0]"
53,FLAG_DOCUMENT_6,int64,0,0.00,2,"[0, 1]"
54,Completed_PCB,float64,18067,5.88,47,"[0.0, 2.0, 1.0, 3.0, 4.0]"

Feature Enginering days feature into years

In [11]:
data_dump['YEARS_LAST_PHONE_CHANGE']=data_dump['DAYS_LAST_PHONE_CHANGE'].dropna().apply(lambda x:np.abs(ceil(x/365)) if x/365<1 else np.abs(floor(x/365)))
data_dump.drop('DAYS_LAST_PHONE_CHANGE',axis=1,inplace=True)

Drop some feature

In [12]:
data_dump.drop(columns=['FLAG_MOBIL', 'REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','FLAG_EMAIL','WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START'],axis=1,inplace=True)

# Dealing with missing value

In [13]:
list_item=[]
for col in data_dump.columns:
    list_item.append([col,data_dump[col].dtype,data_dump[col].isna().sum(),round((data_dump[col].isna().sum()/len(data_dump[col])*100),2),data_dump[col].nunique(), list(data_dump[col].sample(5).drop_duplicates().values)])
dfDesc_dp=pd.DataFrame(list_item,columns='feature dtype null null% unique uniquesample'.split())
dfDesc_dp

,feature,dtype,null,null%,unique,uniquesample
0,TARGET,int64,0,0.00,2,[0]
1,NAME_CONTRACT_TYPE,object,0,0.00,2,[Cash loans]
2,CODE_GENDER,object,0,0.00,3,"[M, F]"
3,FLAG_OWN_CAR,object,0,0.00,2,"[N, Y]"
4,FLAG_OWN_REALTY,object,0,0.00,2,"[N, Y]"
5,CNT_CHILDREN,int64,0,0.00,15,"[0, 2, 1]"
6,AMT_INCOME_TOTAL,float64,0,0.00,2548,"[42867.0, 63000.0, 103500.0, 153000.0, 135000.0]"
7,AMT_CREDIT,float64,0,0.00,5603,"[276813.0, 592560.0, 254700.0, 354276.0, 72846..."
8,AMT_ANNUITY,float64,12,0.00,13672,"[17874.0, 38907.0, 6750.0, 17937.0, 6066.0]"
9,AMT_GOODS_PRICE,float64,278,0.09,1002,"[684000.0, 135000.0, 720000.0, 450000.0, 81000..."
10,NAME_TYPE_SUITE,object,1292,0.42,7,"[Family, Unaccompanied, Other_B]"
11,NAME_INCOME_TYPE,object,0,0.00,8,"[Commercial associate, Working, Pensioner]"
12,NAME_EDUCATION_TYPE,object,0,0.00,5,"[Secondary / secondary special, Higher education]"
13,NAME_FAMILY_STATUS,object,0,0.00,6,"[Married, Separated, Single / not married, Widow]"
14,NAME_HOUSING_TYPE,object,0,0.00,6,"[House / apartment, With parents]"
15,REGION_POPULATION_RELATIVE,float64,0,0.00,81,"[0.030755, 0.006852, 0.018801, 0.04622, 0.0228]"
16,OWN_CAR_AGE,float64,202929,65.99,62,"[1.0, nan, 11.0, 7.0]"
17,FLAG_EMP_PHONE,int64,0,0.00,2,"[1, 0]"
18,FLAG_WORK_PHONE,int64,0,0.00,2,"[0, 1]"
19,FLAG_CONT_MOBILE,int64,0,0.00,2,[1]
20,FLAG_PHONE,int64,0,0.00,2,"[0, 1]"
21,OCCUPATION_TYPE,object,0,0.00,11,"[Medicine staff, Core staff, Sales staff]"
22,CNT_FAM_MEMBERS,float64,2,0.00,17,"[2.0, 1.0]"
23,REGION_RATING_CLIENT,int64,0,0.00,3,"[2, 3]"
24,REGION_RATING_CLIENT_W_CITY,int64,0,0.00,3,"[1, 2]"
25,REG_CITY_NOT_LIVE_CITY,int64,0,0.00,2,"[1, 0]"
26,REG_CITY_NOT_WORK_CITY,int64,0,0.00,2,[0]
27,LIVE_CITY_NOT_WORK_CITY,int64,0,0.00,2,"[0, 1]"
28,ORGANIZATION_TYPE,object,0,0.00,11,"[XNA, Transport: type 4, Other, Government, Me..."
29,EXT_SOURCE_1,float64,173378,56.38,114584,"[nan, 0.4603679980188473, 0.5431908367458087]"
30,EXT_SOURCE_2,float64,660,0.21,119831,"[0.7742954870232435, 0.5359447432048026, 0.460..."
31,EXT_SOURCE_3,float64,60965,19.83,814,"[0.3876253444214701, 0.7338145369642702, 0.664..."
32,CNT_INSTALMENT_FUTURE,float64,18067,5.88,2892,"[1520.0, 113.0, 69.0, 15.0, 55.0]"
33,AGE,int64,0,0.00,50,"[30, 58, 25, 67, 46]"
34,YEARS_EMPLOYED,int64,0,0.00,51,"[2, 1000, 0, 3]"
35,YEARS_ID,int64,0,0.00,19,"[11, 10, 1, 2, 12]"
36,YEARS_ID_CHANGE,int64,0,0.00,66,"[23, 3, 15, 17]"
37,Active_CBC,float64,44020,14.31,23,"[3.0, nan, 2.0, 1.0]"
38,Refused_PA,float64,16454,5.35,46,[0.0]
39,New_PA,float64,16454,5.35,18,"[nan, 1.0]"
40,FLAG_DOCUMENT_3,int64,0,0.00,2,"[0, 1]"
41,Canceled_PA,float64,16454,5.35,39,"[3.0, 0.0, 2.0, nan]"
42,FLAG_DOCUMENT_2,int64,0,0.00,2,[0]
43,Active_PCB,float64,18067,5.88,212,"[25.0, 58.0, 64.0, 20.0, 8.0]"
44,Approved_PA,float64,16454,5.35,26,"[5.0, 1.0, 2.0]"
45,FLAG_DOCUMENT_6,int64,0,0.00,2,[0]
46,Completed_PCB,float64,18067,5.88,47,"[4.0, 1.0, 2.0, 5.0]"
47,YEARS_LAST_PHONE_CHANGE,float64,1,0.00,12,"[1.0, 0.0, 8.0, 5.0]"

In [14]:
null=isna_table(data_dump)
null.reset_index(inplace=True)
null=null.rename(columns={'index':'feature'})
null

                    feature     nom          %
0               AMT_ANNUITY      12   0.003902
1           AMT_GOODS_PRICE     278   0.090403
2           NAME_TYPE_SUITE    1292   0.420148
3               OWN_CAR_AGE  202929  65.990810
4           CNT_FAM_MEMBERS       2   0.000650
5              EXT_SOURCE_1  173378  56.381073
6              EXT_SOURCE_2     660   0.214626
7              EXT_SOURCE_3   60965  19.825307
8     CNT_INSTALMENT_FUTURE   18067   5.875237
9                Active_CBC   44020  14.314935
10               Refused_PA   16454   5.350703
11                   New_PA   16454   5.350703
12              Canceled_PA   16454   5.350703
13               Active_PCB   18067   5.875237
14              Approved_PA   16454   5.350703
15            Completed_PCB   18067   5.875237
16  YEARS_LAST_PHONE_CHANGE       1   0.000325

### Credit Bureau Credit

In [15]:
null[(null['feature']=='Active_CBC')|(null['feature']=='Year Credit Late_Bureau')|(null['feature']=='Closed_CBC')]

      feature    nom          %
9  Active_CBC  44020  14.314935

Jumlah null di feature ini dikarenakan ketiadaan data jumlah credit aktif di credit bureau credit sehingga akan diisi 0

In [17]:
data_dump['Active_CBC'].fillna(0,inplace=True)
# data_dump['Closed_CBC'].fillna(0,inplace=True)

### Previous Application

In [18]:
null[(null['feature']=='Refused_PA')|(null['feature']=='New_PA')|(null['feature']=='Canceled_PA')|(null['feature']=='Approved_PA')]

        feature    nom         %
10   Refused_PA  16454  5.350703
11       New_PA  16454  5.350703
12  Canceled_PA  16454  5.350703
14  Approved_PA  16454  5.350703

melihat kesamaan jumlah null di atas dapat disimpulkan bahwa kasus pinjaman tersebut tidak memiliki data di Previous Application sehingga kita isi dengan nilai 0

In [19]:
data_dump['Refused_PA'].fillna(0,inplace=True)
data_dump['New_PA'].fillna(0,inplace=True)
data_dump['Canceled_PA'].fillna(0,inplace=True)
data_dump['Approved_PA'].fillna(0,inplace=True)

### Pos Cash Balanced

In [20]:
null[(null['feature']=='Completed_PCB')|(null['feature']=='Active_PCB')|(null['feature']=='CNT_INSTALMENT_FUTURE')]

                  feature    nom         %
8   CNT_INSTALMENT_FUTURE  18067  5.875237
13             Active_PCB  18067  5.875237
15          Completed_PCB  18067  5.875237

melihat kesamaan jumlah null di atas dapat disimpulkan bahwa kasus pinjaman tersebut tidak memiliki data di Pos Cash Balanced sehingga kita isi dengan nilai 0

In [21]:
data_dump['Completed_PCB'].fillna(0,inplace=True)
data_dump['Active_PCB'].fillna(0,inplace=True)
data_dump['CNT_INSTALMENT_FUTURE'].fillna(0,inplace=True)

### Checking Null

In [22]:
null=isna_table(data_dump)
null.reset_index(inplace=True)
null=null.rename(columns={'index':'feature'})
null

                   feature     nom          %
0              AMT_ANNUITY      12   0.003902
1          AMT_GOODS_PRICE     278   0.090403
2          NAME_TYPE_SUITE    1292   0.420148
3              OWN_CAR_AGE  202929  65.990810
4          CNT_FAM_MEMBERS       2   0.000650
5             EXT_SOURCE_1  173378  56.381073
6             EXT_SOURCE_2     660   0.214626
7             EXT_SOURCE_3   60965  19.825307
8  YEARS_LAST_PHONE_CHANGE       1   0.000325

## EXT_SOURCE Feature

EXT_SOURCE feature adalah rating yang diberikan oleh organisasi pihak ketiga terhadap seseorang/pinjaman tertentu. rating ini sudah dinormalize oleh home credit.

melihat beberapa kasus di atas, kasus Credit Bereau Credit, Previous Application, dan Pos Cash balance. dapat dilihat bahwa nan terjadi karena client/pinjaman tersebut tidak memiliki data di sana, sehingga saya berasumsi terjadinya nan pada EXT_SOURCE adalah ketiadaan data atau belum diberikan rating dari organisasi-organisasi ini kepada client/pinjaman sehingga saya memutuskan untuk membuang data-data tersebut.

In [27]:
data_dump[['TARGET','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']]

        TARGET  EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
0            1      0.083037      0.262949      0.139376
1            0      0.311267      0.622246           NaN
2            0           NaN      0.555912      0.729567
3            0           NaN      0.650442           NaN
4            0           NaN      0.322738           NaN
...        ...           ...           ...           ...
307506       0      0.145570      0.681632           NaN
307507       0           NaN      0.115992           NaN
307508       0      0.744026      0.535722      0.218859
307509       1           NaN      0.514163      0.661024
307510       0      0.734460      0.708569      0.113922

[307511 rows x 4 columns]

In [32]:
data_dump[data_dump['TARGET']==1][['TARGET','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']]

        TARGET  EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
0            1      0.083037      0.262949      0.139376
26           1           NaN      0.548477      0.190706
40           1           NaN      0.306841      0.320163
42           1      0.468208      0.674203      0.399676
81           1           NaN      0.023952      0.720944
...        ...           ...           ...           ...
307448       1      0.073452      0.329708      0.360613
307475       1      0.634729      0.583214      0.424130
307481       1           NaN      0.713524      0.511892
307489       1           NaN      0.615261      0.397946
307509       1           NaN      0.514163      0.661024

[24825 rows x 4 columns]

In [33]:
data_dump[data_dump['TARGET']==0][['TARGET','EXT_SOURCE_1','EXT_SOURCE_2','EXT_SOURCE_3']]

        TARGET  EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
1            0      0.311267      0.622246           NaN
2            0           NaN      0.555912      0.729567
3            0           NaN      0.650442           NaN
4            0           NaN      0.322738           NaN
5            0           NaN      0.354225      0.621226
...        ...           ...           ...           ...
307505       0           NaN      0.346391      0.742182
307506       0      0.145570      0.681632           NaN
307507       0           NaN      0.115992           NaN
307508       0      0.744026      0.535722      0.218859
307510       0      0.734460      0.708569      0.113922

[282686 rows x 4 columns]

In [23]:
data_dump.drop('EXT_SOURCE_1',axis=1,inplace=True)

### Own_Car_age

In [14]:
data_dump[['FLAG_OWN_CAR','OWN_CAR_AGE']]

       FLAG_OWN_CAR  OWN_CAR_AGE
0                 N          NaN
2                 Y         26.0
5                 N          NaN
6                 Y         17.0
7                 Y          8.0
...             ...          ...
307503            N          NaN
307505            N          NaN
307508            N          NaN
307509            N          NaN
307510            N          NaN

[229548 rows x 2 columns]

In [24]:
data_dump['OWN_CAR_AGE'].fillna(0,inplace=True)

### Checking Again

In [25]:
null=isna_table(data_dump)
null.reset_index(inplace=True)
null=null.rename(columns={'index':'feature'})
null

                   feature    nom          %
0              AMT_ANNUITY     12   0.003902
1          AMT_GOODS_PRICE    278   0.090403
2          NAME_TYPE_SUITE   1292   0.420148
3          CNT_FAM_MEMBERS      2   0.000650
4             EXT_SOURCE_2    660   0.214626
5             EXT_SOURCE_3  60965  19.825307
6  YEARS_LAST_PHONE_CHANGE      1   0.000325

membersihkan nan sisanya dengan dropping

In [26]:
data_dump.dropna(subset=null[null['%']<20]['feature'],axis=0,inplace=True)

In [27]:
list_item=[]
for col in data_dump.columns:
    list_item.append([col,data_dump[col].dtype,data_dump[col].isna().sum(),round((data_dump[col].isna().sum()/len(data_dump[col])*100),2),data_dump[col].nunique(), list(data_dump[col].sample(5).drop_duplicates().values)])
dfDesc_dp=pd.DataFrame(list_item,columns='feature dtype null null% unique uniquesample'.split())
dfDesc_dp

,feature,dtype,null,null%,unique,uniquesample
0,TARGET,int64,0,0.0,2,"[0, 1]"
1,NAME_CONTRACT_TYPE,object,0,0.0,2,"[Cash loans, Revolving loans]"
2,CODE_GENDER,object,0,0.0,3,"[M, F]"
3,FLAG_OWN_CAR,object,0,0.0,2,"[N, Y]"
4,FLAG_OWN_REALTY,object,0,0.0,2,"[N, Y]"
5,CNT_CHILDREN,int64,0,0.0,15,"[0, 1]"
6,AMT_INCOME_TOTAL,float64,0,0.0,2023,"[148500.0, 450000.0, 121500.0, 135000.0, 24750..."
7,AMT_CREDIT,float64,0,0.0,5137,"[1350000.0, 239850.0, 258768.0, 376920.0, 7819..."
8,AMT_ANNUITY,float64,0,0.0,12964,"[21433.5, 11250.0, 31630.5, 26640.0, 10116.0]"
9,AMT_GOODS_PRICE,float64,0,0.0,801,"[643500.0, 360000.0, 720000.0, 450000.0, 95400..."
10,NAME_TYPE_SUITE,object,0,0.0,7,"[Unaccompanied, Family]"
11,NAME_INCOME_TYPE,object,0,0.0,7,"[Commercial associate, Working, Pensioner]"
12,NAME_EDUCATION_TYPE,object,0,0.0,5,"[Secondary / secondary special, Higher education]"
13,NAME_FAMILY_STATUS,object,0,0.0,5,"[Married, Single / not married, Civil marriage]"
14,NAME_HOUSING_TYPE,object,0,0.0,6,"[House / apartment, With parents]"
15,REGION_POPULATION_RELATIVE,float64,0,0.0,81,"[0.010032, 0.032561, 0.004849, 0.02461]"
16,OWN_CAR_AGE,float64,0,0.0,61,"[0.0, 4.0, 7.0]"
17,FLAG_EMP_PHONE,int64,0,0.0,2,"[1, 0]"
18,FLAG_WORK_PHONE,int64,0,0.0,2,[0]
19,FLAG_CONT_MOBILE,int64,0,0.0,2,[1]
20,FLAG_PHONE,int64,0,0.0,2,"[0, 1]"
21,OCCUPATION_TYPE,object,0,0.0,11,"[Laborers, Other, Drivers]"
22,CNT_FAM_MEMBERS,float64,0,0.0,17,"[2.0, 1.0, 3.0]"
23,REGION_RATING_CLIENT,int64,0,0.0,3,"[2, 3, 1]"
24,REGION_RATING_CLIENT_W_CITY,int64,0,0.0,3,"[2, 3]"
25,REG_CITY_NOT_LIVE_CITY,int64,0,0.0,2,"[1, 0]"
26,REG_CITY_NOT_WORK_CITY,int64,0,0.0,2,"[0, 1]"
27,LIVE_CITY_NOT_WORK_CITY,int64,0,0.0,2,"[0, 1]"
28,ORGANIZATION_TYPE,object,0,0.0,11,"[Other, XNA, Business Entity Type 3, Trade: ty..."
29,EXT_SOURCE_2,float64,0,0.0,107907,"[0.26486443138156296, 0.4146385428322458, 0.30..."
30,EXT_SOURCE_3,float64,0,0.0,814,"[0.34090642641523844, 0.7476633896301825, 0.64..."
31,CNT_INSTALMENT_FUTURE,float64,0,0.0,2792,"[36.0, 78.0, 222.0, 948.0, 77.0]"
32,AGE,int64,0,0.0,49,"[68, 55, 32, 45, 57]"
33,YEARS_EMPLOYED,int64,0,0.0,51,"[4, 8, 1, 11]"
34,YEARS_ID,int64,0,0.0,19,"[2, 8, 7, 10, 12]"
35,YEARS_ID_CHANGE,int64,0,0.0,64,"[23, 14, 11, 10, 3]"
36,Active_CBC,float64,0,0.0,23,"[3.0, 4.0, 2.0]"
37,Refused_PA,float64,0,0.0,45,"[0.0, 1.0]"
38,New_PA,float64,0,0.0,18,"[0.0, 1.0]"
39,FLAG_DOCUMENT_3,int64,0,0.0,2,[1]
40,Canceled_PA,float64,0,0.0,39,"[0.0, 2.0]"
41,FLAG_DOCUMENT_2,int64,0,0.0,1,[0]
42,Active_PCB,float64,0,0.0,212,"[24.0, 18.0, 42.0, 0.0]"
43,Approved_PA,float64,0,0.0,26,"[3.0, 4.0, 1.0]"
44,FLAG_DOCUMENT_6,int64,0,0.0,2,[0]
45,Completed_PCB,float64,0,0.0,46,"[1.0, 4.0, 2.0, 5.0]"
46,YEARS_LAST_PHONE_CHANGE,float64,0,0.0,12,"[0.0, 5.0, 8.0]"

unknow gender was unnecessary so, i will drop them but for XNA in organization type i will keep it consider about secret/privacy that people that won't to tell

In [28]:
data_dump.drop(index=data_dump[data_dump['CODE_GENDER'] == 'XNA'].index,inplace=True)

## Dealing with outliers

based on 2 experiment before, outliers was unnecessary attention to do something about it. so, i'll keep the outliers for this cases

# Export Data Clean

In [29]:
data_dump.to_csv('bersih.csv')